<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Model competancy #<%= @model_competancy.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/model_competancies" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/model_competancies/<%= @model_competancy.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit model competancy
        </a>
      </div>

      <div class="col">
        <a href="/delete_model_competancy/<%= @model_competancy.id %>" class="btn btn-block btn-outline-secondary">
          Delete model competancy
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Model
      </dt>
      <dd>
        <%= Model.find( @model_competancy.model_id).name %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= User.find(@model_competancy.user_id).username %>
      </dd>

       <dt>
        Number of models <%= User.find(@model_competancy.user_id).username %> has under their belt:
      </dt>
      <dd>
        <%= ModelCompetancy.where(:user_id => @model_competancy.user_id).count %>
      </dd>
      
      <dt>
        Number of users who can use <a href="/models/<%= @model_competancy.model_id %>">
          <%= Model.find(@model_competancy.model_id).name %> </a>  
          has under their belt: 
      </dt>
      <dd>
        <%= ModelCompetancy.where(:model_id => @model_competancy.model_id).count %>
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@model_competancy.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

