<% if @training_run.errors.any? %>
  <% @training_run.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit training run #<%= @training_run.id %>
</h1>

<hr>

<form action="/update_training_run/<%= @training_run.id %>" method="post">

  <div class="form-group">
          <label for="model_id">
            Change Model from <a href= "/models/<%=@training_run.model_id %>">
            <%= Model.find(@training_run.model_id).name %> </a> to:
          </label>

          <%= select_tag("model_id", options_from_collection_for_select(Model.where.not(id: @training_run.model_id),
          :id, :name), :class => "form-control") %>
          or <a href="/models/new">add a new model</a> first
        </div>

  <div class="form-group">
          <label for="dataset_id">
           Change Dataset from <a href= "/datasets/<%=@training_run.dataset_id %>">
            <%= Dataset.find(@training_run.dataset_id).name %> </a> to:
          </label>

          <%= select_tag("dataset_id", options_from_collection_for_select(Dataset.where.not(id: @training_run.dataset_id),
          :id, :name), :class => "form-control") %>
          or <a href="/datasets/new">add a new dataset</a> first
        </div>


  <div class="form-group">
     <label for="iteration">
            Iteration
          </label>
          <%= select_tag "iteration", options_for_select([[ 'first', 'first'],
          ['second', 'second'], 
          ['third', 'third'], 
          ['fourth', 'fourth'], 
          ['fifth', 'fifth'], 
          ['sixth',  'sixth'],
          ['seventh', 'seventh'],
          ['eighth', 'eighth'], 
          ['ninth', 'ninth'], 
          ['tenth or higher' , 'tenth or higher' ]], 
          selected: @training_run.iteration) %>
            </div>

  <div class="form-group">
    <label for="accuracy_score">
      Accuracy score
    </label>

    <input type="text" id="accuracy_score" name="accuracy_score" class="form-control" value="<%= @training_run.accuracy_score %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update training run
  </button>
</form>

<hr>

<a href="/training_runs">
  Go back
</a>
